.card-radius{
  border-radius: 20px;
  background-color: #000000;
  box-shadow: -4px 4px 4px 4px rgba($color: #FFFF, $alpha: 0.15);
  border: solid white;
}

.backgroundcolor{
  background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),image-url("pexels-felix-mittermeier-4644812.jpg");
  background-size: auto,cover;
}

.logo-size{
  width: 150px !important;
  height: 150px;
}

.text-deco{
  text-decoration: none;
  color: white;
}

.btn-color{
  background-color: #ffff;
  color: #ea7dff;
}
