.card-radius{
  border-radius: 20px;
  background-image: image-url("pexels-egil-sjholt-1906658.jpg");
  background-size: cover;
}

.backgroundcolor{
  background-color: #2A272A;
}

.logo-size{
  width: 150px !important;
  height: 150px;
}
