.backgroundcolor{
  background:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),image-url("20190418004804-6eeb8872.jpg");
  background-size: auto,cover;
  display: block;
}

.text-deco{
  text-decoration: none;
  color: white !important;
}

.btn-color{
  background-color:rgba(#82328a, 0.35)!important;
  color: #ffff !important;
  border-radius: 5px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.homepage{
  margin-top: 10%;
  color: white;
  text-decoration: none !important;
  text-align: center;
}

.border-cercle{
  background-color: #000000;
  box-shadow: 4px 4px 4px 4px rgba($color: #FFFF, $alpha: 0.15);
  border: 1px solid rgba(233, 125, 255, 0.896);
}

.margin-center{
  margin: auto;
}

.object-fit{
  object-fit: contain;
}

.color-icon-add{
  color: rgba(233, 125, 255, 0.896);
  top: 0;
  right: 0;
}
