<div class="container homepage">
  <h1>Hello cosmos voyagers! Welcome to Galaxy!</h1>
  <h2>Emboard in a new type of journey! Let's discover new horizons together to the infinity and beyond...</h2>
  <h3>Wait no longer and check our voyagers' <b><%= link_to "planets",planet_offers_path, class: "link-planets" %></b> out!</h3>
</div>
