<div class="container">
  <div class="row justify-content-evenly ms-5 me-5">
    <% @planetoffers.each do |planetoffer| %>
      <article class="profile m-5">
        <div class="profile-image">
          <% if planetoffer.photo.attached? %>
          <%= cl_image_tag planetoffer.photo.key, height: 200, width: 200, crop: :fill %>
          <% end %>
        </div>
        <h2 class="profile-username"><%= link_to planetoffer.name, planet_offer_path(planetoffer), class: "text-deco"%></h2>
        <small class="profile-user-handle">Prix : <%= planetoffer.price %> M €</small>
        <div class="profile-actions">
          <button><%= link_to "Détails", planet_offer_path(planetoffer), class: "btn btn-color" %></button>
        </div>
      </article>
    <% end %>
  </div>
</div>
