<h1>Rent a planet</h1>

<ul>
<% @planetoffers.each do |planetoffer| %>
 <li><%= link_to planetoffer.name, planet_offer_path(planetoffer)%></li>
 <%= link_to "Delete",
  planet_offer_path(planetoffer),
  data: {turbo_method: :delete}%>
<% end %>
</ul>
